*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile-data {
    margin-top: 100px;
    margin-left:150px;
    margin-right:150px ;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-row-gap: 20px;
}

.results{
    display: grid;
    grid-row-gap: 20px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    font-size: 20px;
    font-family: monospace;
    font-weight: 600;
}

.result-child2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* grid-row-gap: 20px; */
}

.ask-id{
    flex-basis: 80%;
    text-align: center;
}

.btn-flex-cont{
    margin-top: 20px;
    flex-basis: 80%;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.profile-data .sections ul li{
    list-style-type: none;
    padding: 20px;
    border: 0.2px solid gray;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 15px;
}

.profile-data .sections ul li:hover{
    color: white;
    background-color: rgb(211, 135, 49);
}

.profile-data .results {
    padding-left: 30px;
    padding-top: 10px;
    margin-left: 10px;
}

.modern-form {
    width: 500px;
    margin: 50px auto;
    background-color: #fff;
    border: solid 1px #ccc;
    padding: 20px 10px;
    box-shadow: 2px 3px 15px rgb(0 0 0 / 56%)
}

.modern-form h3 {
    text-align: center;
}

.float-label-field {
    border: none;
    outline: none;
    position: relative;
    margin: 0 0 20px 0;
    padding: 0;
    box-sizing: border-box;
}

.float-label-field input {
    border: none;
    outline: none;
    padding: 5px 5px 8px 0px;
    width: 100%;
    font-size: 18px;
    border-bottom: solid 1px #efefef;
}

.float-label-field label {
    opacity: 0.5;
    position: absolute;
    top: 10px;
    left: 0px;
    transition: all 0.2s ease;
    font-size: 18px;
}

.float-label-field.focus label {
    color: orange;
}

.float-label-field.focus input {
    border-bottom: solid 1px orange;
}

.float-label-field.float label {
    opacity: 1;
    top: -8px;
    font-size: 60%;
    transition: all 0.2s ease;
    font-weight: bold;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Upload sample';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 50;
    font-size: 10pt;
    color: #999;
}

.custom-file-input {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#file-sample {
    display: none;
}

.label-atag{
    text-decoration: none;   
    color: black;
}

.label-atag:hover{
    color: aqua;
}

#checkbx{
    width: 5%;
}

#checkbox-label{
    position: relative;
    top: 0;
    left: 0;
}
#art-submit{
    box-shadow: none;
}
#art-submit:hover{
    background-color: aqua;
}

#artist-reg1{
    margin-top: 20px;
    background-image: url("/img/john-fowler-RsRTIofe0HE-unsplash.jpg");
    background-size: contain;
    background-position: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: none;
}
#buy-reg1{
    margin-top: 20px;
    background-image: url("/img/john-fowler-RsRTIofe0HE-unsplash.jpg");
    background-size: contain;
    background-position: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: none;
}

#username{
    font-style: italic;
    font-weight: 600;
    font-family: serif;
    font-size: 40px;
}


#details-cont{
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: none;
}

#main-det-cont{
    flex-basis: 60%;
    box-shadow: rgb(255 84 84 / 56%) 2px 3px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 300px;
    row-gap: 25px;
    margin-bottom: 50px;
}

.det-info{
    margin-top: 30
    px
    ;
        text-align: center;
        flex-basis: 80%;
        font-size: 30px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: italic;
        text-shadow: #999;
}

a{
    text-decoration: none;
}
root{
    --nav_bar_background: rgba(61, 61, 61,0.8); 
}

.nav-bar{
    z-index: 9999999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    position:fixed;
    width: 100%;
    background-color: rgb(58, 57, 57); 
    margin: auto;
}
.nav-bar-link:hover{
    color: rgb(74, 74, 247);
}


#sepakinstruction {
    margin-top: 40px;
    margin-left: 90vw;
    font-size: 40px;
    cursor: pointer;
}
#sepakinstruction:hover {
    color: rgb(223, 222, 222);
}

.front1{
    background-image: linear-gradient(
    180deg, #14131399, rgba(31, 13, 13, 0.7)), url("../img/kelly-sikkema-Rq1MLxP5RgI-unsplash.jpg");
    width:100%;
    position: relative;
    background-size: cover, cover;
    background-position: center,center;
    background-repeat: repeat, no-repeat;
}
.trans{
    background:rgba(black,0.5);
    display:flex;
    height:125vh;
    width:100vw;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
    align-content: center;
}
.heading {
    color: #fff;
    font-size: 55px;
    margin-top: 14%;
    font-weight: 100;
    text-transform: uppercase;
    font-family: "Nunito sans", "sans-serif";
    text-align: center;
    flex-basis: 80%;
}

.para1 {
    margin-top: 25px;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    z-index: 999;
    font-size: 20px;
    font-weight: 400;
    flex-basis: 80%;  
}
.para2 {
    margin-top: 40px;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    color: #0ee189;
    z-index: 999;
    font-size: 20px;
    font-weight: 800;
    flex-basis: 80%;  
}
.button_{
    padding: 15px;
    text-align: center;
    flex-basis: 70%;
}

.button1{
    text-decoration: none;
    display: inline-block;
    padding:  10px 30px;
    cursor: pointer;
    margin:10px;
    background-color: #4d8cf5;
    font-family: sans-serif;
    color: whitesmoke;
    border-radius: 5px;
    transition-duration: 0.3s;   
}
.button1:hover{
    background-color: #333;
}
.button2{
    text-decoration: none;
    cursor: pointer;
    
    display: inline-block;
    border: 2px solid blue;
    padding: 10px 30px;
    margin: 10px;
    border-image-width: 1;
    color:whitesmoke;
    font-family: sans-serif;
    background-color: transparent;
    border-radius: 5px;
    border-color:blue;
    transition-duration: 0.3s;
}
.button2:hover{
    background-color: #4d8cf5;
}
.arrow{
    flex-basis: 90%;
    justify-self: center;
    text-align: center;
    
    font-size: 20px;
}
.arrow a{
    color: white;
}

.arrow:hover{
    color: blue;
    font-size: 30px;
}

.sections{
    padding-right: 60px;
}
.sections>a{
    padding-left: 20px;
    color: white;
    font-weight: 600;
}
.krunch-logo{
    width: 100px;
    color: white;
    font-family: serif;
    font-size: 35px;
    font-weight: 700;
    padding-left: 40px;
}
.portfolio{
    text-align: center;
}
.div-image-portfolio {
    display: flex;
    flex-direction: column;
}
.images-portfolio-parts {
    display: flex;
    flex-direction: row;
}

#selling_content {
    display: flex;
    flex-direction: column;
}

#selling_content label {
    margin-bottom: 10px;
    margin-top: 10px;
}

#selling_content input {
    width: 300px;
    height: 30px;
}

#display_image{
    width: 300px;
    height: 200px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
  }
.footer-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #282828;
    color: #908F8F;
    margin-top: 100px;
}

.footer-about{
    margin-top: 15px;
    margin-bottom: 15px;
    flex-basis: 90%;
}

.parent-footer{
    flex-basis: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-heading{
    flex-basis: 80%;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    margin-top: 30px;
    font-family: serif;
    color: white;
}

.about-comp{
    flex-basis: 45%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    flex-wrap: wrap;
}

.about-comp .about{
    flex-basis: 80%;
    align-self: flex-start;
}

.connection-icons{
    margin-top: 25px;
    flex-basis: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    flex-wrap: wrap;
}

.connection-icons .icons-footer{
    flex-basis: 80%;
}

.contact-info-footer{
    margin-top: 25px;
    flex-basis: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
}

.contact-info-footer .connect-icons-footer{
    flex-basis: 80%;
}

.icons-footer-1{
    color: white;
    font-weight: 700;
}

.line-end{
    flex-basis: 95%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.line-end hr{
    height: 3px;
    background-color: #34a0fd;
}

.icons-footer i{
    color: white;
}

.end-footer{
    margin-bottom: 30px;
}

#nsutian-footer{
    color: red;
    font-weight: 600;
}

.quick-link-a{
    color: #928989;
}